# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Python environment files
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# IDE files
.idea/
*.swp

# MacOS
.DS_Store

# Log files
*.log

tmp/
